<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (C) 2007-2017, GoodData(R) Corporation. All rights reserved.
  -->

<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%p] %m%n</pattern>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="Console"/>
    </root>
</configuration>